body {
  font-family: "Urbanist", sans-serif;
}

.nav-link {
  position: relative;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px; /* Altura del subrayado */
  background-color: #919b93; /* Color del subrayado (usará el color del texto) */
  transform: scaleX(0); /* Inicialmente oculto */
  transition: transform 0.3s ease; /* Transición suave para el efecto */
}

.nav-link:hover::after {
  transform: scaleX(1); /* Muestra el subrayado en hover */
}

.bi-shop {
  font-size: 25px;
  margin-right: 10px;
}

.contenedor {
  background-color: #d8d5c067;
  height: 90vh;
}

.grande {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.grande:hover {
  transform: scale(1.05); /* Aumenta la tarjeta un 5% */
}

.navbar {
  background-color: #dce9df;
}
